@use "@sa-apps/design-system/src/_mixins" as mixins;

.handleWrapper {
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	right: 0;
	z-index: 50;
	display: flex;
	justify-content: center;
}

.hidden {
	display: none;
}

.handle {
	height: 1rem;
	width: 4rem;
	border-radius: 9999px;
	border: 1px solid hsl(var(--sa-border));
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	@include mixins.transition-colors(300ms);
}

.handleDragging {
	cursor: grabbing;
	background-color: #e5e7eb;
}

.handleIdle {
	cursor: grab;
	background-color: #f9fafb;

	&:hover {
		background-color: #f3f4f6;
	}
}

.wrapper {
	position: relative;
}
