.root {
	display: flex;
	position: relative;
}

.form {
	display: flex;
	width: 100%;
}

.actions {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
