@use "@sa-apps/design-system/src/_mixins" as mixins;

.relative {
	position: relative;
}

.handleWrapper {
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	right: 0;
	z-index: 50;
	display: flex;
	justify-content: center;
}

.handleWrapperHidden {
	display: none;
}

.handle {
	height: 1rem;
	width: 4rem;
	border-radius: 9999px;
	border: 1px solid hsl(var(--sa-border));
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	@include mixins.transition-colors(300ms);
	cursor: grab;
	background-color: hsl(var(--sa-muted));

	&:hover {
		background-color: hsl(var(--sa-accent));
	}
}

.handleDragging {
	cursor: grabbing;
	background-color: hsl(var(--sa-secondary));
}
