.root {
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow-y: auto;
	background-color: hsl(var(--sa-background));
	color: hsl(var(--sa-primary));
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	flex: 1 1 0%;
}

.layout {
	flex: 1 1 0%;
	align-items: flex-start;
}

@media (min-width: 768px) {
	.layout {
		display: grid;
		grid-template-columns: 220px minmax(0, 1fr);
		gap: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.layout {
		grid-template-columns: 240px minmax(0, 1fr);
		gap: 2.5rem;
	}
}

.main {
	position: relative;
	padding: 1.5rem 0;
}

@media (min-width: 1024px) {
	.main {
		padding: 2.5rem 0;
		gap: 2.5rem;
	}
}

@media (min-width: 1280px) {
	.main {
		display: grid;
		grid-template-columns: 1fr 300px;
	}
}

.contentArea {
	margin: 0 auto;
	width: 100%;
	min-width: 0;
}

@media (min-width: 768px) {
	.contentArea {
		padding-left: 1rem;
	}
}

.tocWrapper {
	display: none;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

@media (min-width: 1280px) {
	.tocWrapper {
		display: block;
	}
}
