.t-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media (min-width: 1440px) {
    .t-container {
        max-width: 1440px;
    }
}

.co-powerbar__frontify {
    height: theme('spacing.16');
    transition: none;
}

.dark .page-title,
.dark .a-navigation-categories,
.dark .m-pager__btn-wrapper,
.dark .m-pager__item-link,
.dark .page-footer,
.dark .page-placeholder .placeholder-title,
.dark .page-placeholder p {
    color: theme('colors.slate.100') !important;
}

.dark .a-p {
    color: theme('colors.slate.400') !important;
}

.dark .m-pager__btn-wrapper:hover,
.dark .m-pager__item-link:hover {
    color: theme('colors.slate.50') !important;
}
